.phidias_debugger {
  margin-top: 60px;
  border-top: 1px dashed #999;
  background: #fff;
}
.phidias_debugger table.debugger_summary {
  margin: 10px;
}
.phidias_debugger table.debugger_summary td {
  padding-right: 20px;
}
.phidias_debugger table.debugger_summary thead {
  font-size: 11px;
}
.phidias_debugger ul.debugger_controls {
  list-style: none;
  margin: 15px;
  padding: 0;
}
.phidias_debugger ul.debugger_controls li {
  display: inline-block;
}
.phidias_debugger ul.debugger_controls li a {
  display: block;
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.phidias_debugger ul.debugger_controls li a:hover {
  text-decoration: none;
  background: #eee;
}
.phidias_debugger ul.debugger_controls li.active a {
  font-weight: bold;
  color: #fba01c;
}
.phidias_debugger table.debugger_messages {
  width: 100%;
}
.phidias_debugger table.debugger_messages tr.debugger_record {
  cursor: pointer;
}
.phidias_debugger table.debugger_messages tr.debugger_record:hover {
  background: #eee;
}
.phidias_debugger table.debugger_messages thead td {
  font-size: 11px;
  color: #666;
  vertical-align: bottom;
  white-space: normal !important;
}
.phidias_debugger table.debugger_messages tbody td {
  padding-bottom: 5px;
  border-top: 1px solid #ddd;
}
.phidias_debugger table.debugger_messages td {
  padding: 3px;
  font-family: Courier, Terminal, sans-serif;
  font-size: 12px;
  color: #222;
  vertical-align: top;
}
.phidias_debugger table.debugger_messages td.debugger_timestamp {
  color: #333;
  padding-right: 15px;
  text-align: right;
}
.phidias_debugger table.debugger_messages td.debugger_message {
  border-left: 6px solid #00b6f0;
  width: 100%;
  padding-left: 10px;
}
.phidias_debugger table.debugger_messages td.debugger_message .handle {
  font-size: 10px;
  color: #333;
}
.phidias_debugger table.debugger_messages td.debugger_message .message {
  display: block;
}
.phidias_debugger table.debugger_messages td.debugger_message .file {
  font-size: 11px;
  color: #00b6f0;
}
.phidias_debugger table.debugger_messages td.debugger_duration {
  white-space: nowrap;
  text-align: right;
  padding-right: 10px;
}
.phidias_debugger table.debugger_messages td.debugger_memory {
  white-space: nowrap;
  background: #eee !important;
  text-align: right;
}
.phidias_debugger table.debugger_messages tr.debugger_type_resource td.debugger_message {
  border-left-color: #98dd00;
}
.phidias_debugger table.debugger_messages tr.debugger_type_resource td.debugger_message .file {
  color: green;
}
.phidias_debugger table.debugger_messages tr.debugger_type_SQL td {
  background: #ff8;
}
.phidias_debugger table.debugger_messages tr.debugger_type_SQL td.debugger_message {
  border-left-color: #fba01c;
}
.phidias_debugger table.debugger_messages tr.debugger_type_SQL td.debugger_message .file {
  color: red;
}
.phidias_debugger table.debugger_messages tr.debugger_type_include td.debugger_message {
  border-left-color: #990000;
}
.phidias_debugger table.debugger_messages tr.debugger_type_include td.debugger_message .file {
  color: #777;
}
.phidias_debugger table.debugger_messages tr.debugger_type_error td.debugger_message {
  color: red;
  border-left-color: red;
}
.phidias_debugger table.debugger_messages tr.debugger_type_error td.debugger_message .file {
  color: red;
}
